.Key {
  --darkcolor: #444;
  --lightcolor: #bbb;
  --shadow-offset: .5rem;
  --size: 4rem;

  background-color: var(--darkcolor);
  border-radius: 50%;
  border: .3rem solid var(--lightcolor);
  box-shadow: var(--shadow-offset) var(--shadow-offset) .4rem #000;
  color: var(--lightcolor);
  cursor: pointer;
  display: inline-block;
  font: 700 1.6rem/1.4 sans-serif;
  height: var(--size);
  width: var(--size);
}

.Key:active {
  --darkcolor: #222;
  --lightcolor: #999;

  box-shadow: none;
  transform: translateY(var(--shadow-offset));
}
