.Lamp {
  --margin: .5rem;
  --size: 4rem;

  align-items: center;
  background-color: #444;
  border-radius: 50%;
  box-shadow: inset .2rem .2rem .3rem #000;
  color: #777;
  display: flex;
  font: 700 2.8rem/1.4 sans-serif;
  height: var(--size);
  justify-content: center;
  margin: 0 var(--margin) var(--margin);
  width: var(--size);
}

.Lamp_active {
  color: #fff;
}
